:root {
  /* COLORS  */
  --main-color: #ff7931;
  --black-color: #000000;
  --white-color: #ffffff;
  --light-black: rgba(0, 0, 0, 0.5);
  --lighter-black: rgba(0, 0, 0, 0.3);
  --wh-color: #f9f9fc;

  /* FONTS */
  --main-font: "Raleway", system-ui;
  --secondary-font: "Playfair Display", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}

.flex {
  display: flex;
  align-items: center;
}

body {
  background-color: var(--white-color);
  font-family: var(--main-font);
}

/* <<========== HEADER ==========>> */

.header {
  padding: 60px 0 47px 0;
  text-align: center;
}

.header__title {
  font-family: var(--secondary-font);
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: 900;
  margin-bottom: 46px;
}

.menu__list {
  list-style: none;
  justify-content: space-between;
}

.menu__list-link {
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  color: var(--black-color);
  transition: color 0.3s;
}

.menu__list-link:hover {
  color: var(--main-color);
}

/* <<========== HERO ==========>> */

.hero {
  text-align: center;
  color: var(--white-color);
  margin-bottom: 100px;
}

.slider__list-item {
  background-image: url("./assets/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider__decor {
  padding-top: 67px;
  margin-bottom: 49px;
}

.slider__decor-text {
  padding: 5px 15px;
  background-color: var(--main-color);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}

.slider__title {
  font-size: 72px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 42px;
  text-transform: uppercase;
}

.slider__controls {
  display: flex;
  max-width: 956px;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 55px;
}

.slider__controls-left,
.slider__controls-right {
  position: relative;
  font-size: 13px;
  font-weight: 400;
}

.slider__controls-left::after,
.slider__controls-right::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 1px;
  background-color: var(--white-color);
  top: 9px;
}

.slider__controls-left::after {
  right: -72px;
}

.slider__controls-right::before {
  left: -72px;
}

.slider__text {
  max-width: 456px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.5;
  padding-bottom: 48px;
  font-weight: 400;
}

.slider__btn-left,
.slider__btn-right {
  background: transparent;
  border: none;
  transition: all ease-in 0.3s;
}

.slider__btn-left:hover,
.slider__btn-right:hover {
  transform: scale(1.5);
}

.slider__buttons {
  position: relative;
}

.slider__btn-left {
  padding: 10px 16px 12px 0;
  left: -20px;
}

.slider__buttons::after {
  content: "";
  position: absolute;
  height: 42px;
  width: 1px;
  background-color: #fff;
  right: -7px;
  top: -12px;
}

.slider__btn-right {
  right: -35px;
  padding: 10px 0 12px 14px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: none;
}

.content {
  display: grid;
  grid-template-columns: auto minmax(288px, 370px);
  column-gap: 30px;
  margin-bottom: 95px;
}

/* <<========== NEWS ==========>> */

.news {
  margin-bottom: 80px;
}

.section__title {
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--black-color);
  margin-bottom: 15px;
}

.news__content {
  gap: 29px;
}

.news__content-left {
  position: relative;
  cursor: pointer;
}

.news__content-left-img {
  max-width: 470px;
  height: 334px;
  overflow: hidden;
}

.news__content-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform ease 0.3s;
}

.news__content-left-desc {
  position: absolute;
  bottom: 21px;
  left: 23px;
  right: 31px;
}

.news__content-left-title {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
  font-family: var(--secondary-font);
  transition: color ease 0.3s;
}

.news__content-left-text {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

.news__content-left:hover img {
  transform: scale(1.2);
}

.news__content-left:hover .news__content-left-title {
  color: var(--main-color);
}

.news__content-right {
  flex-direction: column;
  gap: 31px;
}

.news__content-right-desc {
  max-width: 131px;
}

.news__content-right-card {
  cursor: pointer;
  gap: 12px;
  transition: all ease 0.3s;
}

.desc__title {
  font-size: 14px;
  font-weight: 900;
  font-family: var(--secondary-font);
  margin-bottom: 10px;
  transition: all ease 0.3s;
}

.desc__text {
  font-size: 10px;
  font-weight: 400;
  line-height: 1.5;
}

.card__img {
  position: relative;
  width: 127px;
  height: 91px;
}

.card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(21, 21, 30, 0.5);
  opacity: 0;
  transition: all ease 0.3s;
}

.news__overlay svg {
  position: absolute;
  right: 8px;
  top: 9px;
}

.news__content-right-card:hover .desc__title {
  color: var(--main-color);
}

.news__content-right-card:hover .news__overlay {
  opacity: 1;
}

/* <<========== REVIEWS ==========>> */

.reviews {
  margin-bottom: 87px;
}

.card {
  cursor: pointer;
}

.pagination__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 28px;
  row-gap: 38px;
  margin-bottom: 53px;
}

.rev__card-img {
  position: relative;
  max-width: 370px;
  height: 203px;
  margin-bottom: 20px;
}

.card__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(7, 6, 17, 0.7);
  transition: all ease 0.3s;
  opacity: 0;
}

.overlay__cards {
  position: absolute;
  bottom: 6px;
  left: 19px;
  display: flex;
  align-items: flex-end;
  gap: 21px;
}

.card__icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.save__icon {
  position: absolute;
  right: 8px;
  top: 10px;
}

.card__icon span {
  color: rgba(255, 255, 255, 0.4);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rev__card-title {
  font-size: 23px;
  font-weight: 900;
  font-family: var(--secondary-font);
  margin-bottom: 10px;
  transition: color ease 0.3s;
}

.card p {
  max-width: 370px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.pagination {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
}

.pagination__controls {
  justify-content: space-between;
  max-width: 426px;
  margin: 0 auto;
}

.pagination li {
  padding: 0 3px 4px 3px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  color: var(--lighter-black);
}

.pagination li.active {
  color: var(--black-color);
  border-bottom: 2px solid var(--main-color);
}

.pagination__btn {
  background: none;
  border: none;
  cursor: pointer;
}

.rev__card-img:hover .card__overlay {
  opacity: 1;
}

.card:hover .rev__card-title {
  color: var(--main-color);
}

/* <<========== POSTER ==========>> */

.poster {
  position: relative;
}

.poster__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 43px;
  align-items: center;
  width: 100%;
  max-width: 543px;
}

.poster__title {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--white-color);
  text-transform: uppercase;
}

.btn {
  background: none;
  border: 2px solid var(--main-color);
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--white-color);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 17px 29px 15px 30px;
  transition: all ease 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--main-color);
}

/* <<========== ASIDE ==========>> */

.aside__item {
  position: relative;
  margin-bottom: 33px;
  max-height: 479px;
}

.aside__item:nth-of-type(3) {
  margin-bottom: 0;
}

.aside__item-content {
  max-width: 235px;
  position: absolute;
  left: 50%;
  top: 48px;
  bottom: 30px;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.aside__title {
  font-size: 30px;
  font-weight: 900;
  font-family: var(--secondary-font);
  letter-spacing: 2px;
  text-align: center;
  line-height: 1.3;
  color: var(--white-color);
}

.aside__item-one .aside__title {
  color: var(--black-color);
}

.aside__item-one .btn {
  background-color: var(--main-color);
}

/* <<========== SCROLLBAR ==========>> */

::-webkit-scrollbar {
  width: 0.3rem;
  border-radius: 0.5rem;
  background-color: var(--wh-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: var(--lighter-black);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--light-black);
}
